[user]
    name = Florent Jaby
    email = florent.jaby@gmail.com
[color]
    ui = auto
[core]
    whitespace = trailing-space,space-before-tab
    excludesfile = /home/floby/.gitignore
    editor = vim
    quotePath = false
    autocrlf = input
[diff]
    renames = copies
    mnemonicsprefix = true
    tool = vimdiff
[alias]
  pushf = push --force-with-lease
  pullr = pull --rebase
  co = checkout
  st = status
  lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset) %C(bold yellow)%d%C(reset) %C(green)%GS%C(reset)' --abbrev-commit --date=relative
[merge]
    tool = vimdiff
[push]
    default = simple
[branch]
    autosetuprebase = always
[rebase]
  rerere = true
[credential]
    helper = cache --timeout=36000
[rerere]
	enabled = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main


[includeIf "gitdir:~/dev/bm/"]
  path = ~/dev/bm/.gitconfig
